<div ng-controller="ChartController">
    <div class="row">
        <div class="col-md-12">
            <form class="form-inline">
                <fieldset>
                    <label for="period">Period</label>
                    <select id="period" class="form-control" ng-model="selectedPeriod" ng-change="showChart()" 
                            data-ng-options="period.value as period.name for period in periods" >>
                    </select>
                    <input type="date" class="form-control" ng-model="startDate"
                            ng-required="true" ng-change="showChart()" ng-model-options="{debounce: 1000}"/>
                    <input type="date" class="form-control" ng-model="endDate"
                            ng-required="true" ng-change="showChart()" ng-model-options="{debounce: 1000}" />

                    <button class="btn btn-default" ng-click="resetZoom()">Reset Zoom</button>
</fieldset>
            </form>
        </div>     
    </div>
    <div class="row">
        <div class="col-md-12">
            <div id="chart"  ng-init="showChart()"> </div>
        </div>
    </div>
</div>